<a href="https://colab.research.google.com/github/Bilalafzal02/Python_Projects/blob/main/List_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
# print only even number
numbers = [4,12,23,34,51,13,44]
for number in numbers:
  if number % 2 == 0:
    print(number)

4
12
34
44

In [9]:
# Found or NOt Found name
Names = ["Ali","Shahid","Ahmad","Naeem"]
Student = input("Enter Your Name: ")
if Student in Names:
  print("Found")
else:
  print("Not Found")

Enter Your Name: ali
Not Found

In [31]:
# Print Max and Mini Number
numbers = [2,4,5,6,11,23,43]
maximum=numbers[0]
minimum=numbers[0]
for num in numbers:
  if num>maximum:
    maximum=num
  if num<minimum:
    minimum=num
print("maximun number is:",maximum)
print("minimum number is:",minimum)

maximun number is: 43
minimum number is: 2

In [20]:
#Multiply list
number = [2,4,6,8,10]
new_list = []
for number in number:
    new_list.append(number * 3)
print(new_list)

[6, 12, 18, 24, 30]

In [15]:
students = [["Ali", 20], ["Sara", 22], ["Ahmed", 19]]
students_name = []
for student in students:
    students_name.append(student[0])
print(students_name)

['Ali', 'Sara', 'Ahmed']

In [25]:
num = [1,2,3,4,5,6,7,8,9]
odd_num = []
for num in num:
  if num%2 !=0:
    odd_num.append(num)
print(odd_num)

[1, 3, 5, 7, 9]

In [36]:
#print the word in sentence
words = ["cherry","apple","banana","kiwi","mango"]
for word in words:
  num=" ".join(words)
print(num)

cherry apple banana kiwi mango

In [14]:
# second highest number
num = [2,4,5,7,9,12]
number=sorted(num,reverse=True)
print(number[1])

9